---
Checks: >-
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-braces-around-statements
WarningsAsErrors: '*'
SystemHeaders: false
FormatStyle: file
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: '0'
...
